APP_NAME=ai-trading-311-webhook
DEBUG_MODE=1

# --- SECURITY ---
WEBHOOK_SECRET=@tradingviewai2026

# --- TELEGRAM ---
TG_TOKEN=8554968843:AAGanS2laUtMJ1OCkOtUHUzfp20xnKEMSxQ
TG_CHAT_ID=-1003538288056
TG_DISABLE_PREVIEW=1
TG_PARSE_MODE=HTML

# --- GOOGLE SHEETS (Service Account JSON) ---
GSHEET_ID=1VSGyYAWEf7zsQOD8fggzpguwI6YCKx_HoBZvVPunAqE
GSHEET_TAB=TradesV2
SHEETS_CREDS_JSON=keys/service_account.json
# --- OPTIONAL ---
FORCE_DECIMALS=5
